<h1>Editar Liquidacion de Viaje</h1>
<%= react_component 'LiquidacionDeViajeForm', {
  tarifa: @tarifa,
  defaultDate: @default_date,
  liquidacion_de_viaje: @liquidacion_de_viaje,
  chofer: @liquidacion_de_viaje.chofer,
  empresa: @liquidacion_de_viaje.empresa,
  empresa_chofer: @liquidacion_de_viaje.empresa_chofer,
  defaultComision: @default_comision
} %>
