<h1>Liquidacion de Viajes</h1>
<p>
  <%= link_to 'Nuevo', new_liquidacion_de_viajes_path %>
</p>
<ul>
  <% @liquidacion_de_viajes.each do |liquidacion_de_viaje| %>
    <li>
      <%= liquidacion_de_viaje.id %>
      <%= link_to 'Editar', edit_liquidacion_de_viajes_path(liquidacion_de_viaje) %>
      <%= link_to 'Borrar', liquidacion_de_viaje, method: :delete, data: {confirm: 'Seguro?'} %>
    </li>
  <% end %>
</ul>
